{{ asset_add("styles.css", "anomaly.extension.video_block::scss/block.scss") }}
{{ asset_add("scripts.js", "anomaly.extension.video_block::js/block.js") }}


<div class="video__wrapper">

    {% if block.cover.id and not block.autoplay.value %}
        <div class="video__cover" style="background-image: {{ block.cover.make.resize(1500).css }}">
            {{ img('anomaly.extension.video_block::img/play-button.svg').data|raw }}
        </div>

        <div class="video__loading" style="background-image: {{ block.cover.make.resize(1500).css }}; display: none;">
            {{ img('anomaly.extension.video_block::img/loading.svg').data|raw }}
        </div>
    {% endif %}

    {{ block.video.iframe.autoplay(block.autoplay.value ?: (block.cover.id ? true)).showinfo(block.show_info.value)|raw }}

</div>
